defaults:
  - models@models_dict.model1: resnet1d18
  - losses@loss: bce
  - optimizer: adam
  - _self_
models: ${oc.dict.values:models_dict}

models_combination: single

single_run_dir: ${hydra:run.dir}
train_type: "train_all_data"

# The datasets used for train and validation
dataset: "dataset_name"

# Paths to csv files describing ECG records
observed_data_params:
    dataset_name:
        train_directories: ["path_to_train_files"]
        valid_directories: ["path_to_valid_files"]
    test:
        dataset_test_data: ["path_to_test_files"]
        
    ptbxl: # Needed if you are using FLTrust
        train_directories: ["path_to_train_files"]
        valid_directories: ["path_to_valid_files"]
    test_ptbxl: # Needed if you are using FLTrust_new
        ptbxl_test_data: ["path_ptbxl_to_test_files"] 
    # Paths to csv files with ECG records that should not be used during training or validation
    filter_dataframe_files: ["path_to_files_to_be_filtered"]
        
# Parameters of the prediction task
task_params:
    # Type of the code the model should predict
    task_type: "scp_codes" 
    #for scp_from_report available pathologies are LVH, STD_, IRBBB
    # Validated by human flag
    validated_by_human: False
    classes: 1
    # All pathology codes that will be used during training or validation
    pathology_names: ["AFIB"]
    # Dictionary of labels used for training or validation. Values are labels from pathology_names
    merge_map: {}

patient_params:
    # Possible age of the patients used during training or validation
    age_range: [18, 100]

ecg_record_params:
    data_type: "npz"
    # Only ECG records with frequencies presented in observed_frequencies will be used for training or validation
    observed_frequencies: [250, 500, 1000, 1500]
    resampled_frequency: 500
    # Number of seconds cut from ECG in the beginning and in the end of the record
    ecg_cut_range: [0, 0]
    leads: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
    ecg_length: [9, 10]
    observed_ecg_length: 10
    normalization: "z_norm"
    augmentation:
        transforms: null

training_params:
    epochs: 200
    batch_size: 256
    num_workers: 4
    lr: 0.003
    early_stopping_patience: 10
    scheduler_patience: 3
    device: "cuda"
    device_ids: [0]
    prediction_threshold: 0.5
    metrics_threshold: "gmean"
    factor: 0.8
    saving_metrics: ["loss"]
    pretrained: False
    num_freezes_layers: 0

ecg_metadata:
    # Metadata flag
    use_metadata: False
    # List of metadata used for training 
    ecg_meta_subset: []
    patient_meta_subset: ["age", "sex"]             
      
predict:
    # Path to model weights of already trained model
    checkpoint_path: "ecglib"
    root_path: "./"
    save_model_output: ${hydra:run.dir}/model_output.csv

federated_params:
    method: "FedAvg" # FedAvg, FedProx, FLTrust, FLTrust_new, TS_momentum, RECESS
    fed_prox_lambda: 0.0001
    num_fedavg_rounds: 3
    amount_of_clients: 5
    client_sample: 1
    min_sample_number: 1000
    communication_rounds: 150
    round_epochs: 1
    rounds_no_improve: 3
    lr_scheduler_factor: 0.7
    random_state: 42

    attack: False
    amount_of_attackers: 0.5
    attacking_method: "label_flipping" # label_flipping, random_rounds_random_clients, sign_flip, random_grad, IPM
    percent_of_changed_labels: 0.7
    amount_of_attack_rounds: 0.5

    fltrust_dataset: "ptbxl"

    fltrust_new_sample_amount: 50
    momentum_beta: 0.1
    ts_momentum_trusted_prop: 0.0
    normalize_ts_momentum: False
    num_delayed_rounds: 50
    ipm_eps: 0.5

    print_client_metrics: True

    opt_from_train: True

    baseline_decreased_score: 0.1
    init_trust_score: 1

cifar:
    base_dir: "space" # home
    dataset: "10_clients" # 100_clients

