defaults:
    - models@models_dict.model1: resnet18
    - observed_data_params@dataset: cifar10
    - observed_data_params@server_test: cifar10
    - observed_data_params@trust_df: cifar10_trust
    - federated_method: ppbc
    - losses@loss: ce
    - manager: sequential
    - optimizer: adam
    - _self_
models: ${oc.dict.values:models_dict}

models_combination: single
random_state: 42
single_run_dir: ${hydra:run.dir}
base_dir: home

training_params:
    batch_size: 256
    num_workers: 4
    device: "cuda"
    device_ids: ['1', '3']
    prediction_threshold: 0.5
    metrics_threshold: "gmean"
    factor: 0.8
    saving_metrics: ["loss"]

federated_params:
    amount_of_clients: 10
    min_sample_number: 1000
    communication_rounds: 100
    round_epochs: 1
    client_train_val_prop: 0.2
    print_client_metrics: False
    server_saving_metrics: ["loss"] # "loss", "Specificity", "Sensitivity", "G-mean", "f1-score", "fbeta2-score", "ROC-AUC", "AP", "Precision (PPV)", "NPV"
    server_saving_agg: "uniform" # weighted
